.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

@media (min-width: 800px){
.socialNetworksContainer--footersection{
  justify-content: end;
  margin-right: 20px;
  margin-top: -8px;
}}
